parameters:
    ignoreErrors:

    excludePaths:
            - vendor
            - cache
            - .phpstan-cache

#includes:
#    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon