parameters:
    level: 7

    paths:
        - src

    ignoreErrors:

    excludePaths:
            - vendor
            - cache
            - .phpstan-cache

#includes:
#    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon
